$primary: #d9f2fd;
$secondary: #268caa;
$background: #c4fcef;

$danger: #ff6f91;
$warning: #ffc75f;
$success: #008f7a;

$textColor: #166ddf;
$border: #2c73d2;

$dark0: #000000;
$dark1: #090979;
$dark2: #268caa;
$dark3: #2664aa;
$dark4: #173370;

$light0: #ffffff;
$light1: #fcf8ff;
$light2: #d9f2fd;
$light3: #c4fcef;
$light4: #b8edfd;

$ball0_0: #0042d0;
$ball0_1: #f0f4ff;

$ball1_0: #c50021;
$ball1_1: #ffc1ce;

$ball2_0: #04c400;
$ball2_1: #b4f3b4;

$ball3_0: #8203e9;
$ball3_1: #cdbfff;

$ball4_0: #fcd600;
$ball4_1: #f5ffbf;
